body {
	font-family: 'montserratlight';
	margin: 0 auto;
	max-width: 1440px;
}

.page1 {
	position: relative;
	height: 900px;
	left: 0;
	top: 0;
}

#menu__toggle {
  opacity: 0;
}

.header__burger {
    position: absolute;
    right: 0;
    width: 92px;
	height: 92px;
	background-color: #ededed;
}

.header__burger > span,
.header__burger > span::after {
  display: block;
  position: absolute;
  width: 34.7px;
  height: 3.48px;
  margin-left: 28px;
  top: 39px;
  background-color: #000;
}

.header__burger > span::after {
  content: '';
  margin-left: 0;
  top: 6px;
}

.rectngle {
	position: absolute;
    width: 461px;
    height: 900px;
    left: 0;
    top: 0;
    background: #000;
}

.rectngle__logo {
	color: #fff;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.07em;
    position: absolute;
    width: 98px;
    height: 37px;
    left: 52px;
    top: 36px;
}

.rectngle__lang {
	color: #fff;
	position: absolute;
    width: 31px;
    height: 25px;
    left: 388px;
    top: 42px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
}

.lang__switch {
	position: absolute;
    top: 54px;
    left: 426px;

}

.inst {
	background: #fff;
	position: absolute;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	left: 52px;
    top: 816px;
	}

.inst__square {
    border: 1.5px solid #000;
    border-radius: 30%;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform:translate(0, -50%);
}

.inst__circle {
	border: 1.5px solid #000;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform:translate(0, -50%);
}

.vk {
	background: #fff;
	position: absolute;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	left: 107px;
    top: 816px;
}

.vk__logo {
	position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform:translate(0, -50%);
}

.fb {
	background: #fff;
	position: absolute;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	left: 162px;
    top: 816px;
}

.fb__logo {
	position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform:translate(0, -50%);
}

.img {
	position: absolute;
    width: 549px;
    height: 562px;
    left: 186px;
    top: 169px;
}

.section {
	position: absolute;
    width: 467px;
    height: 397px;
    left: 786px;
    top: 453px;
}

.heading {
    position: absolute;
    font-family: 'montserratbold';
    font-size: 80px;
    top: 263px;
    left: 789px;
}

.text {
	color: black;
	font-size: 15px;
    font-weight: bold;
	margin-bottom: 36px;
	line-height: 21px;
}

.btn {
	border: 1.5px solid #000;
	text-decoration: none;
    font-weight: bold;
	padding: 14px 41px;
	color: #000;
}

.button {
	text-decoration: none;
    font-weight: bold;
	font-size: 15px;
	line-height: 21px;
	color: #000;
	margin-left: 59px;
}

.arrow {
	position: absolute;
	margin-left: 19px;
	padding: 5px;
}

.scrolling {
	position: absolute;
	left: 707px;
	top: 815px;
	width: 27px;
	height: 46px;
	border: 2px solid #000;
	border-radius: 45%;
}

.scrolling__line {
	position: absolute;
	border: 1.5px solid #000;
	height: 8.21px;
	left: 12.27px;
	top: 11.5px;
    
}
@media (max-width: 375px) {

   .rectngle {
        visibility: hidden;
    }
   .rectngle__logo {
        visibility: visible;
        color: #000 !important;
        left: 26px;
        top: 14px;
        font-weight: 500;
        font-size: 30px;
    }
   .img {
        top: 69px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -74px;
        right: 0;
        margin: 0 auto;
    }
   .header__burger {
        left: 305px;
        width: 70px;
        height: 69px;
}
   .header__burger > span,
   .header__burger > span::after {
        margin-left: 21px;
        top: 29px;
}
   .header__burger > span::after {
        content: '';
        margin-left: 0;
        top: 6px;
}
   .heading {
    top: 414px;
    left: 26px;
    font-size: 50px;
    line-height: 51px;
   }

   i {
    position: absolute;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    left: 170px;
    top: 541px;
}
    .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
}




.page2 {
	position: absolute;
	height: 900px;
	left: 0;
	top: 900px;
}


.page3 {
	position: absolute;
	height: 900px;
	left: 0;
	top: 1800px;
}