body {
    font-family: 'montserratlight';
    margin: 0 auto;
}

.page1 {
    width: 100%;
    height: 900px;
}

.rectngle {
    position: relative;
    width: 32%;
    height: 820px;
    background: #000;
    padding: 40px 52px;
    display: grid;
    grid-template: 90% 10%/90% 10%;
}

.logo {
	color: #fff;
    display: inline-block;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: .07em;
}

.rectngle__lang {
	color: #fff;
    background: url('img/lang__switch.png')right no-repeat;
    padding: 0 18px 0 0;
    font-size: 20px;
    line-height: 24px;
    height: 25px;
    width: 31px;
}

.inst {
	background: #fff url('img/inst_cir.png')center no-repeat;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	left: 52px;
    top: 816px;
    display: inline-block;
}

.vk {
	background: #fff url('img/vk.png')center no-repeat;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	left: 107px;
    top: 816px;
    display: inline-block;
}

.fb {
	background: #fff url('img/fb.png')center no-repeat;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	left: 162px;
    top: 816px;
    display: inline-block;
}

.block {
    position: absolute;
    top: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img__descop {
    display: inline-block;
    margin-right: 56px;
}

.conteiner {
    display: inline-block;
    max-width: 475px;
    top: 100px;
    width: 100%;
}

.heading {
    font-family: 'montserratbold';
    font-size: 80px;
    margin-bottom: 26px;
}

.text {
    font-family: 'montserratbold';
	color: black;
	font-size: 15px;
	line-height: 21px;
    margin-bottom: 50px;
}

.btn {
	border: 1.5px solid #000;
	text-decoration: none;
    font-family: 'montserratbold';
    font-size: 13px;
    padding: 14px 35px;
	color: #000;
    margin-right: 50px;
    text-transform: uppercase;
}

.button {
	text-decoration: none;
    font-family: 'montserratbold';
	font-size: 13px;
	line-height: 21px;
	color: #000;
    text-transform: uppercase;
}

.scrolling {
	position: absolute;
	left: 707px;
	top: 815px;
	width: 27px;
	height: 46px;
	border: 2px solid #000;
	border-radius: 45%;
}

.scrolling__line {
	position: absolute;
	border: 1.5px solid #000;
	height: 8.21px;
	left: 12.27px;
	top: 11.5px;
}

#menu__toggle {
  display: none;
}

.header__burger {
    right: 0;
    position: absolute;
    width: 92px;
    height: 92px;
    background-color: #ededed;
}

.header__burger > span,
.header__burger > span::after {
  display: block;
  position: absolute;
  width: 34.7px;
  height: 3.48px;
  margin-left: 28px;
  top: 39px;
  background-color: #000;
}

.header__burger > span::after {
  content: '';
  margin-left: 0;
  top: 6px;
} 

@media (max-width: 1100px) {
    .heading {
      font-size: 50px;
   }

    .text {
      font-size: 13px;
   }

   .btn {
     font-size: 13px;
     margin-bottom: 30px;
     display: inline-block;
  }

   .button {
     font-size: 13px;
     display: inline-block;
  }

}
@media (max-width: 768px) {
    .rectngle {
        background: #fff;
    }

    .logo {
        color: #000;
    }
    .nav {
        display: none;
    }

    .block {
        flex-direction: column;
        top: 70px;
    }

    .scrolling, 
    .btn, 
    .button, 
    .arrow {
        display: none;
    }

    .heading, 
    .text {
        text-align: center;
    }
    .header__burger {
       width: 70px;
       height: 70px;
    }
    .header__burger > span {
       top: 29px;
       margin-left: 21px;
    }
    .header__burger > span::after {
       content: '';
       margin-left: 0;
    } 
    .logo {
        position: absolute;
        top: 14px;
        left: 24px;
    }
    .img__descop {
    margin: 0;
}

}
@media (max-width: 375px) {
    .page1 {
       width: 100%;
       height: 590px;
    }
    .rectngl {
        display: none;
    }
    .img__descop {
        opacity: 0;
    }
    .img {
        background: url(img/girl_mobile.png)center no-repeat; 
    }
    .section {
        display: none;
    }
    .heading {
        position: absolute;
        text-align: left;
        margin: 0;
        top: 396px;
        left: 24px;
    }
    
    i {
       position: absolute;
       border: solid black;
       border-width: 0 3px 3px 0;
       display: inline-block;
       padding: 10px;
       left: 170px;
       top: 581px;
    }
    .down {
       transform: rotate(45deg);
       -webkit-transform: rotate(45deg);
    }
}




.page2 {
	position: absolute;
	height: 900px;
	left: 0;
	top: 900px;
}


.page3 {
	position: absolute;
	height: 900px;
	left: 0;
	top: 1800px;
}